@charset "UTF-8";
/*
 * Plain (https://plain.udezekene.com)
 * Plain is a simple, yet bold wordpress theme that will help you kickstart your (hopefully) awesome blog. It’s absolutely free.
 * Copyright 2017 @udezekene
 * Someone insert the proper opensource license here.
 */
/* 
	=========  Variables. =======
 */
@import url("https://fonts.googleapis.com/css?family=Noto+Serif|Overpass:800");
h1, h2, h3, h4, h5, h6 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 800;
  line-height: 1.2;
  margin: 0; }

h1 {
  font-size: 72px; }

h2 {
  font-size: 36px; }

h3 {
  font-size: 36px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 10.8px; }

h6 {
  font-size: 5.4px; }

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  color: #2a2a2a; }

a, a:hover {
  text-decoration: none; }

code {
  font-family: Georgia, serif; }

blockquote {
  background: rgba(31, 92, 211, 0.04);
  border-left: 10px solid #1f5cd3;
  margin: 2em 0;
  padding: 1em 1.2em;
  quotes: "“" "”" "‘" "’"; }
  blockquote p {
    display: inline; }
  blockquote:before {
    color: #bcbcbc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em; }
  blockquote cite {
    font-size: .6em;
    font-style: normal; }

.wrapper {
  max-width: 1280px;
  margin: 0 auto; }

.logo-wrapper img {
  max-width: 150px; }

.social-menu-wrapper .social-menu li {
  display: inline-block;
  margin-left: 20px; }
  .social-menu-wrapper .social-menu li a {
    font-size: 1.4em;
    display: block;
    color: #c3c3c3; }
    .social-menu-wrapper .social-menu li a:hover {
      color: #1f5cd3;
      -webkit-transition: color 0.3s ease-in;
      transition: color 0.3s ease-in; }

.intro-wrapper {
  margin-bottom: 1em; }
  .intro-wrapper .blurp {
    max-width: 60%;
    margin: 2em 0 5em; }
    .intro-wrapper .blurp p {
      font-size: 1.4em; }
