header {
  padding: 2em 0;

  >div {
    display: flex;
    flex-direction:row;
    flex-wrap:none;
    justify-content:space-between;
    align-items:center;
  }


}

.logo-wrapper {
  img {
    max-width: 150px;
  }
}

.social-menu-wrapper {

  .social-menu {

    li {
      display: inline-block;
      margin-left: 20px;

      a {
        font-size: 1.4em;
        display: block;
        color: lighten($font-color-dark, 10%);
        @include transition(color, .3s);
        
        &:hover {
          

          &.facebook {
            color: $social-facebook;
          }
          &.twitter {
            color: $social-twitter;
              
          }
          &.instagram {
            color: $social-instagram;
          }
          &.linkedin {
            color: $social-linkedin;
          }
          &.github{
            color: $social-github;
          }
        }
      }
    }
  }
}


.intro-wrapper {
  margin-bottom: 1em;

  .blurp {
    max-width: 60%;
    margin: 2em 0 5em;

    p {
      font-size: 1.4em;
    }
  }

}